.paperImage {
  width: 100%;
  user-select: none;
  pointer-events: none;
}

.barcodeWrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .example {
    background-color: rgb(255, 68, 0);
    font-size: 8px;
    padding: 0.1rem 0.2rem;
    color: #fff;
    position: absolute;
    z-index: 1;
    border-radius: 3px;
  }
  .barcodeImg {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
