*.log
.DS_Store
/node_modules
/packages/*/node_modules
/packages/common/src/version.ts
.cache
dist
coverage/
*.tsbuildinfo

**/repomix-output.{txt,xml}

**/__diff_output__/**
**/__image_actual__/**
**/__image_diffs__/**
**/__image_diff_report__/**
