.sideBar {
  background: #ffffffed;
  color: #333;
  border: 1px solid #eee;
  padding: 0.5rem;
  overflow-y: auto;
  position: absolute;
  right: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  label {
    font-size: 0.68rem;
  }
}

.keyLabel {
  margin-right: 1rem;
  width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  .warning {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.tglBtn {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  z-index: 100;
  border: none;
  border-radius: 3px;
  padding: 0.5rem;
  cursor: pointer;
}

.flx {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputSet {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.addBtn {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 1rem;
  padding-top: 1rem;
}

.sortableHelper {
  z-index: 3000;
}
