.barcodeWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.barcodeImage {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0;
  opacity: 0.5;
}