.wrapper {
  position: fixed;
  top: 45%;
  z-index: 1;
  background-color: #777777bd;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.leftBtn {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.rightBtn {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}
