.sideBar {
  background: #444;
  color: #fff;
  border: 1px solid #777;
  height: 544px;
  padding: 0.5rem;
  overflow-y: auto;
  position: absolute;
  right: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  label {
    font-size: 0.75rem;
  }
}

.keyLabel {
  margin-right: 1rem;
  width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  .warning {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.tglBtn {
  padding: 5px;
  border: 1px solid #999;
  position: absolute;
}

.flx {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputSet {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.dltBtn {
  position: absolute;
  left: 0;
  top: 0;
}

.addBtn {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #fff;
}

.sortableHelper {
  z-index: 3000;
}
