@import "~bulma/sass/utilities/initial-variables";
@import "~bulma";
@import "~@creativebulma/bulma-tooltip";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
}


@media (min-width: $desktop) {
  .navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block;
  }
}

.desktop-show {
  display: none;
  @media (min-width: $desktop) {
    display: inherit;
  }
}

.mobile-show {
  display: none;
  @media (max-width: $desktop) {
    display: inherit;
  }
}

.desktop-flex {
  display: block;
  @media (min-width: $desktop) {
    display: flex;
  }
}
.mobile-flex {
  display: block;
  @media (max-width: $desktop) {
    display: flex;
  }
}