@import '~bulma/sass/utilities/initial-variables';
@import '~bulma';
@import '~@creativebulma/bulma-tooltip';

@media (min-width: $desktop) {
  .navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block;
  }
}

.desktop-show {
  display: none;
  @media (min-width: $desktop) {
    display: inherit;
  }
}

.mobile-show {
  display: none;
  @media (max-width: $desktop) {
    display: inherit;
  }
}

.desktop-flex {
  display: block;
  @media (min-width: $desktop) {
    display: flex;
  }
}
.mobile-flex {
  display: block;
  @media (max-width: $desktop) {
    display: flex;
  }
}
